img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 960px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.header_main .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main_nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}

.main_nav li {
    display: inline;
}

.main_nav a {
    display: inline-block;
    padding: .5em 1.5em;
}