@charset "utf-8";
/* CSS Document */

html {
  box-sizing: border-box;
  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid goldenrod;
  border-width: 1em;
  border-radius: 100px;
  outline: 20px;
  width: auto;
}

nav {
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.3879633) 0%,
    rgba(23, 16, 1, 0.8706131) 0%
  );
  padding-left: 30px;
  padding-right: 10px;
  width: 100%;
}

nav img {
  display: inline-block;
}

.navlinks {
  list-style: none;
  display: flex;
}

.navitem a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: underline;
  color: goldenrod;
  font-weight: bold;
  font-size: 30px;
}

.logo img {
  height: 100px;
  width: 100px;
  border: solid black;
  border-radius: 100px;
  border-width: 1em;
  vertical-align: middle;
}

.aboutsquare {
  display: flex;
  border: solid goldenrod;
  border-width: 1em;
  border-radius: 50px;
  align-items: center;
  width: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(116, 114, 112) 10%, rgb(0, 0, 0) 100%);
}

.aboutmepara {
  font-weight: bold;
  font-size: 30px;
  color: goldenrod;
}

.about {
  padding: 5%;
  text-align: center;
  font-size: 25px;
  color: goldenrod;
}

.worksquare {
  display: flex;
  padding: 10%;
  border: solid goldenrod;
  border-width: 1em;
  border-radius: 50px;
  align-items: center;
  width: auto;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.856) 0%,
    rgb(116, 114, 112) 0%
  );
}

.worksquare .work {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.column {
  padding: 5px;
}

/*.worksquare .work {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}*/

.worksquare .work .column {
  padding: 10px 10px 10px;
}

/*.worksquare .work .column img {
	margin-top: 8px;
	vertical-align: middle;
	padding: 0 4px;
}
*/
/*.worksquare .work .column .boarskull {
  position: relative;
}*/

.worksquare .work .column .boarskull {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .boarskull figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
}

.worksquare .work .column .bull {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .bull figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
}

.worksquare .work .column .donkey {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .donkey figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bold;
  color: goldenrod;
}

.worksquare .work .column .griffin {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .griffin figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bold;
  color: goldenrod;
}

.worksquare .work .column .horse {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .horse figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
}

.worksquare .work .column .sheep {
  display: flex;
  position: relative;
  width: fit-content;
  padding: 50px;
}

.worksquare .work .column .sheep figcaption {
  position: absolute;
  bottom: 60px;
  letter-spacing: 5px;
  font-size: 30px;
  font-weight: bold;
  color: goldenrod;
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column-reverse;
  }
  .navlinks {
    flex-direction: column-reverse;
    text-align: center;
  }
  .worksquare {
    flex-direction: column-reverse;
  }
  .work {
    flex-direction: column-reverse;
  }
  .worksquare .work .column {
    flex-direction: column-reverse;
  }
}
