@charset "utf-8";
/* CSS Document */

html {
	box-sizing: border-box;
	background: url("../images/bg.jpg") no-repeat center center fixed;
	background-size: cover;
	height: 100%;	
}

*, *::before, *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

.aboutsquare {
		display: flex;
		border: solid black;
		border-radius: 15px;
		align-items: center;
		width: 100%;
		background: rgb(0, 0, 0);
		background: linear-gradient(0deg, rgba(0,0,0,0.3879633) 0%, rgba(23,16,1,0.8706131) 0%);
		padding: 10%;
		margin: 5%;
		
}

.about {
	text-align: center;
	font-size: 30px;
}

.aboutmepara {
	font-weight: bold;
	font-size: 30px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: solid black;
	border-radius: 10px;
	outline: 20px;
	outline-color: aqua;
	margin: 5%;
}

nav {
	width: 100%;
	background: rgb(0, 0, 0);
	background: linear-gradient(0deg, rgba(0,0,0,0.3879633) 0%, rgba(23,16,1,0.8706131) 0%);
	padding-left: 30px;
	padding-right: 10px;
}

nav img {
	display: inline-block;
}

.navlinks {
	list-style: none;
	display: flex;
}

.navitem a {
	display: inline-block;
	padding: 10px 15px;
	text-decoration: underline;
	color: black;
	font-weight: bold;
	font-size: 30px;
}

.logo img {
	height: 100px;
	width: 100px;
	border: solid black;
	border-radius: 15px;
	vertical-align: middle;
}



@media screen and (max-width: 450px){
	.navbar {
		flex-direction: column-reverse;		 
	}
	.navlinks {
		flex-direction: column-reverse;
		text-align: center;		
	}
	.logo img {
		align-self: center;
	}
}